@import "style-general.scss";

.paulo {
	z-index: 2;
}
.bar-color-depoimento {
    margin-left: -110px;
    position: absolute;
    width: 730px;
    margin-top: 50px;
    z-index: 1;
	font-family: $font-regular;
	@media #{$mobile-l} {
		display: none;
	}
}
.paulo-depoimento {
	font-size: 20px;
	@media #{$mobile-l} {
		font-size: 18px;
	}
}
.paulo-nome {
	font-family: $font-bold-italic;
}
.paulo-arquiteto {
		@media #{$mobile-l} {
	 padding-bottom: 20px;
    display: inline-block;
}
}

// CARDS APTO
.plantas-small {
	margin-bottom: 50px;
}
.card-planta {
	background: $white;
	max-width: 1250px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: start;
	box-shadow: $shadow;
	border-radius: 5px;
	overflow: hidden;
	margin: 50px 0;
	@media #{$mobile-l} {
		display: inline-block;
		width: 90%;
  		margin: 10px 0 0 5%;
	}
}
.card-planta-image {
	width: 50%;
	@media #{$mobile-l} {
		width: 100%;
	}
}
.card-planta-body {
	padding: 0px 30px;
}
.card-planta-info {
	margin: auto;
	@media #{$mobile-l} {
    margin: auto;
    padding: 17px;
	}
}
.card-planta-title {
	font-size: 30px;
	font-family: $font-bold-italic;
	color: $grey-medium;
	letter-spacing: 0.5px;
	@media #{$mobile-l} {
		font-size: 28px;
	}
}
.card-planta-lead {
	font-family: $font-light;
	font-size: 18px;
	color: $grey-medium;
	letter-spacing: 0.5px;
	margin-top: -18px;
}

.card-planta-feature {
	font-size: 22px;
	font-family: $font-bold-italic;
	color: $grey-medium;
	box-shadow: inset 0px -10px 0px #52dfae;
	margin-bottom: 20px;
}
.card-small-title {
    color: #fff;
    font-size: 27px;
    font-family: "supermolotlight";
    letter-spacing: 0.5px;
    position: absolute;
    top: 65px;
    margin-left: 30px;
    @media #{$mobile-l} {
    	top: 48px;
    }

}
.card-small-title-number {
	font-size: 80px;
}
.card-planta-list {
	font-size: 20px;
	list-style-type: none;
	padding: 0;
	margin: 20px 0 30px 0;
	> li {
		margin-bottom: 15px;
	}
}

.btn-card {
	width: 230px;
	position: relative;
	margin-left: -125px;
	left: 50%;
	margin-bottom: 20px;
}

// HEROS 
.hero {
	height: 500px;
	width: 100%;
	background: -moz-linear-gradient(45deg, rgb(48,43,108) 0%, rgb(83,227,175) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302b6c', endColorstr='#53e3af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	display: flex;
	justify-content: center;
	align-content: start;
	margin-bottom: 80px;
	background-size: cover;
}
.hero-129 {
	background: -moz-linear-gradient(45deg, rgb(48,43,108) 0%, rgb(83,227,175) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302b6c', endColorstr='#53e3af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url("../img/hero-129.jpg");
		@media #{$mobile-l} {
			background-image: url("../img/banners-hero-129-mobile.jpg");
			background-position: center;
		}
}
.hero-101 {
		background: -moz-linear-gradient(45deg, rgb(48,43,108) 0%, rgb(83,227,175) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302b6c', endColorstr='#53e3af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url("../img/hero-101.jpg");
		@media #{$mobile-l} {
			background-image: url("../img/banners-hero-101-mobile.jpg");
			background-position: center;
		}
}
.hero-62 {
		background: -moz-linear-gradient(45deg, rgb(48,43,108) 0%, rgb(83,227,175) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302b6c', endColorstr='#53e3af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url("../img/hero-62.jpg");
		@media #{$mobile-l} {
			background-image: url("../img/banners-hero-62-mobile.jpg");
			background-position: center;
		}
}
.hero-48 {
		background: -moz-linear-gradient(45deg, rgb(48,43,108) 0%, rgb(83,227,175) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302b6c', endColorstr='#53e3af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url("../img/hero-48.jpg");
		@media #{$mobile-l} {
			background-image: url("../img/banners-hero-48-mobile.jpg");
			background-position: center;
		}
}

.hero-info {
	margin: auto;
	text-align: center;
}
.lead-hero {
	color: $white !important;
}

.feature-apto {
	font-size: 16px;
}

.banner-wrap {
	display: flex;
	justify-content: center;
	align-content: start;
	margin: 50px 0;
	> div {
		margin: auto;
	}
}
.banner {
	border-radius: 5px;
}
.banner-pet {
	width: 100%;
	max-width: 625px;
	height: 306px;
	padding: 50px 0 0 30px;
	color: $white;
	@media #{$mobile-l} {
		margin-bottom: 20px;
	}
}
.banner-pet_title {
	font-size: 22px;
	font-family: $font-bold-italic;
}
.banner-pet_text {
	display: inline-block;
	font-family: $font-regular;
	font-size: 20px;
	margin-top: 10px;
	width: 100%;
	> ul {
		padding: 0;
	}
}
.banner-pet_4 {
	background-image: url("../banners/banners-pet-4.jpg");
	background-size: cover;
	@media #{$mobile-l} {
		background-image: url("../banners/banners-pet-4-mobile.jpg");
	}
}
.banner-pet_3 {
	background-image: url("../banners/banners-pet-3.jpg");
	background-size: cover;
	@media #{$mobile-l} {
		background-image: url("../banners/banners-pet-3-mobile.jpg");
	}
}
.banner-pet_2 {
	background-image: url("../banners/banners-pet-2.jpg");
	background-size: cover;
	@media #{$mobile-l} {
		background-image: url("../banners/banners-pet-2-mobile.jpg");
	}
}
.banner-pet_1 {
	background-image: url("../banners/banners-pet-1.jpg");
	background-size: cover;
	@media #{$mobile-l} {
		background-image: url("../banners/banners-pet-1-mobile.jpg");
	}
}


// SLIDER PLANTAS
.galeria-plantas {
	margin-bottom: 50px;
}
.title-group-slider {
	padding: 90px 0 0 0;
	@media #{$mobile-l} {
		padding-top: 20px;
	}
}

.galeria {
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: 20px auto 80px auto;
	text-align: center;
	box-shadow: $shadow;
	@media #{$laptop-l} {
		max-width: 950px;
	}
	@media #{$mobile-l} {
		margin-bottom: 10px;
	}	
}
.galeria-plantas {
	box-shadow: none;
}
.slider-ilustra-caption {
	width: 100%;
	height: 70px;
	padding-top: 20px;
	display: inline-block;
	text-transform: capitalize;
	font-family: $font-regular;
	color: $grey-medium;
}
.swiper-pagination, .swiper-pagination-fraction {
	border: 2px solid $color-primary;
	border-radius: 3px;
	width: 50px !important;
	left: 50% !important;
	margin-left: -25px;
	margin-top: 20px;
	position: relative;
	
}

.bar-color_slider {
	position: absolute;
	bottom: 86px;
}

.nav-arrow {
    width: 100%;
    padding: 0 30px;
    height: 40px;
    position: absolute;
    top: 45%;
    z-index: 999;
}
.nav-icon {
    display: inline-block;
    width: 20px;
    height: 35px;
}
.nav-prev, .nav-next {
	cursor: pointer;
}
.nav-prev {
	background: url(../img/arrow-left.svg) no-repeat;
	float: left;
}
.nav-next {
	background: url(../img/arrow-right.svg) no-repeat;
	float: right;
}

// 360
.wrap-360 {
	border-radius: 5px;
	box-shadow: $shadow;
    height: 730px;
    margin-bottom: 80px;
    @media #{$mobile-l} {
    	height: 500px;
    }
}
.img-360 {
	height: 600px !important;
    @media #{$mobile-l} {
    	height: 380px !important;
    }
}
.img-360_caption {
    position: relative;
    margin-top: -40px;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    height: 100px;
    background: url(../img/icon-360.png) no-repeat;
    background-position: 30px 10px;
    font-size: 16px;
    color: $grey-medium;
    text-align: right;
    font-family: $font-regular;
    @media #{$laptop-l} {
	margin-top: 0;
    }
    @media #{$mobile-l} {
    	background-position: 50% 15px;
    	margin-top: 160px;
    	padding-top: 70px;
    	text-align: center;
    }
    }
.bar-color_360 {
    margin-top: 165px;
    position: absolute;
}

// DOWNLOAD PLANTAS 
.download-plantas {
	padding: 20px 0;
	background: -moz-linear-gradient(45deg, rgb(48,43,108) 0%, rgb(83,227,175) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgb(48,43,108) 0%,rgb(83,227,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302b6c', endColorstr='#53e3af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	display: flex;
	justify-content: center;
}
.download-plantas-wrap {
	width: 100%;
	max-width: 1020px;
}
.icon-download, .download-info, .download-form {
	float: left;
	color: $white;
}
.download-info {
	display: inline-block;
	margin-left: 30px; 
	> span {
		color: $color-secundary;
		font-family: $font-regular;
		text-transform: uppercase;
	}
}

.form-down-input {
	float: left;
	margin-left: 15px;
	> label {
		font-family: $font-regular;
		letter-spacing: 0.3px;
		display: inline-block;
	}
	> input {
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: -2px;
	}
}

.btn-download {
	margin-top: 30px;
	margin-left: 10px;
	cursor: pointer;
}

// DECORADO 
.decorado {
	background: $color-primary;
	padding-bottom: 50px;
	margin-bottom: 80px;
}
.decorado-title {
	color: $white;
	font-family: $font-bold-italic;
}
.lead-decorado, .decorado-info, .decorado-endereco {
	color: $white !important;
	letter-spacing: 0.3px;
	font-family: $font-regular;
}
.decorado-agendar {
	color: $color-secundary;
	font-size: 22px;
	font-family: $font-bold-italic;
	margin-top: 50px;
}
.decorado-endereco {
	border-left: 2px solid $color-secundary;
	padding-left: 10px;
	display: inline-block;
	margin-top: 15px;
}