@import "style-general.scss";


.lazer-wrap {
	margin-top: 20px;
}
.lazer-itens {
	width: 100%;
	max-width: 1105px;
	padding: 40px 20px;
	background: $color-primary;
	margin-bottom: 80px;
	color: #fff;
	@media #{$mobile-l} {
		margin-bottom: 0;
	}
}
.lazer-list {
	li {
		margin-bottom: 20px;
	}
}
.lazer-list_title {
color: $color-secundary;
text-transform: uppercase;
}

.galeria {
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: 20px auto 80px auto;
	text-align: center;
	box-shadow: $shadow;
	@media #{$laptop-l} {
		max-width: 950px;
	}		
}
.galeria-plantas {
	box-shadow: none;
}
.slider-ilustra-caption {
	width: 100%;
	height: 70px;
	padding-top: 20px;
	display: inline-block;
	text-transform: capitalize;
	font-family: $font-regular;
	color: $grey-medium;
}
.swiper-pagination, .swiper-pagination-fraction {
	border: 2px solid $color-primary;
	border-radius: 3px;
	width: 50px !important;
	left: 50% !important;
	margin-left: -25px;
	margin-top: 20px;
	position: relative;
	
}

.bar-color_slider {
	position: absolute;
	bottom: 86px;
}

.nav-arrow {
    width: 100%;
    padding: 0 30px;
    height: 40px;
    position: absolute;
    top: 45%;
    z-index: 999;
}
.nav-icon {
    display: inline-block;
    width: 20px;
    height: 35px;
}
.nav-prev, .nav-next {
	cursor: pointer;
}
.nav-prev {
	background: url(../img/arrow-left.svg) no-repeat;
	float: left;
}
.nav-next {
	background: url(../img/arrow-right.svg) no-repeat;
	float: right;
}

.lazer-exclusivo {
	width: 100%;
	padding: 50px 20px;
	margin: 50px 0 50px 0;
}
.lazer-exclusivo_title {
	font-family: $font-bold-italic;
	font-size: 35px;
	color: $color-primary;
	margin-bottom: 30px;
}

.lazer-destaque {
	color: $color-primary;
	font-size: 16px;
	font-family: $font-regular;
	padding: 10px;
	margin: 0 10px;
	border: 2px solid $color-secundary;
}

.lazer-cobertura {
	margin-top: 80px;
	margin-bottom: 80px;
}
.implantacao {
	float: right;
	font-size: 18px;
	font-family: $font-regular;
	color: $color-primary;
	margin-top: 30px;
}
.bar-color-implantacao {
width: 240px;
    height: 5px;
    background: $color-primary;
    display: block;
}
.local-beneficios {
	background: $color-primary;
	padding: 50px 0;
	margin-bottom: 50px;
	margin-top: 50px;
}
.local-title {
	color: $color-secundary;
	font-family: $font-bold-italic;
	font-size: 16px;
	text-transform: uppercase;
}

.local-text {
	margin: 20px 0;
	p {
		color: $white;
	}
}
.vista-linda-title {
	margin: 50px 0;
}
#map, .map {
	width: 100%;
	max-width: 1200px;
	height: 600px;
	@media #{$mobile-l} {
		height: 380px;
	}
}
.map-container {
	padding: 50px 0;
	background: $color-primary;
	margin-top: 80px;
	margin-bottom: 80px;
}
.map-adress {
	width: 1200px;
	background: $white;
	margin-top: -6px;
	padding: 50px 20px;
	> span {
		font-family: $font-regular;
	} 
}
.map-title {
	font-size: 20px;
	font-family: $font-bold-italic;
	color: $color-secundary;
}